<!DOCTYPE html>
<html>
  <head>
    <title>RussoApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class = "topnav">
      <% if current_user %>
        <%= render "shared/usernav" %>
      <% else %>
        <%= render "shared/customernav" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
